$color1: rgba(43, 45, 66, 1);
$color2: rgba(141, 153, 174, 1);
$color3: rgba(237, 242, 244, 1);
$color4: rgba(239, 35, 60, 1);
$color5: rgba(217, 4, 41, 1);
$link-color: #8690f8;
$link-color-alt: #ada7ff;
$post-background: #515681;
    