@import "./colors";

body {
  color: $color3;
  background-color: $color1;
  font-family: "DM Sans", sans-serif;

  main {
    display: flex;
    align-items: center;
    flex-direction: column;

    ul.posts {
      list-style: none;
      max-width: 1000px;
      padding: 0 20px;

      li.post {
        display: flex;
        align-items: center;
        min-height: 80px;
        padding: 0 12px;
        margin: 12px;
        border: solid 0.3em;
        background: $color1;
        background: $post-background;
        border-color: $color2;
        justify-content: space-between;
        border-radius: 10px;

        p {
          color: $color3;
        }
        a {
          color: $link-color-alt;
        }
      }
    }

    footer {
      width: 100%;

      ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      li {
        width: 20px;
        font-weight: 100;
        font-size: 15px;
        &.active {
          font-weight: 900;
          font-size: 20px;
          text-decoration: underline;
        }
      }

      .user-info {
        a {
          color: $link-color-alt;
        }
      }
    }
  }
}
