@import "./colors";

.post-details {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 22px;
    text-decoration: underline;
  }
  .content {
    font-size: 18px;
  }

  ul {
    list-style: none;
    padding: 0 20px;

    li {
      background: $color3;
      color: $color1;
      margin: 8px 0;
      padding: 6px 12px;
      border-radius: 13px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;

      p {
        margin: 0;
      }
      .subject {
        align-self: center;
        text-decoration: underline;
      }
      .body {
        margin: 12px 0;
      }
      .email {
        align-self: flex-end;
        color: $link-color;
      }
    }
  }

  button {
    width: 130px;
    border-radius: 12px;
    height: 36px;
    background: $color3;
    color: $color1;
  }
}
